h1
  font-family: 'Source Sans Pro', sans-serif
  font-size: 5em
  font-weight: 300
  text-align: center
  color: white
  padding: 3% 0 1% 0

h2
  font-family: 'Source Sans Pro', sans-serif
  text-align: center
  color: white

div
  margin: 0
  padding: 0

@import 'icons'
